:root {
    --primary-collor: #37D366;
    --second-collor: #00665E;
    --black-collor: #0D0D0D;
    --white-collor: #FFFFFF;
}

.header{
    background-color: var(--black-collor);
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.logo {
    flex: 1; 
}

.logo-image {
    width: 4rem;
}

.Navegacao-header {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 4rem;
}

.items-navegacao {
    color: var(--white-collor);
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.2s;

    &:hover{
        color: var(--primary-collor);
    }
}

.items-navegacao.active {
    color: var(--primary-collor);
    text-shadow: 0 0 10px rgba(55, 211, 102, 0.4); /* Glow leve */
    position: relative;
}

/* Opcional: Um traço neon embaixo do link ativo */
.items-navegacao.active::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Ajuste a distância */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-collor);
    box-shadow: 0 0 10px var(--primary-collor);
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from { width: 0; opacity: 0; }
    to { width: 100%; opacity: 1; }
}